@media screen and (min-width: 768px) and (max-width: 1023px){
    .alert-box{
        max-width: 300px !important;
        margin: -10rem 0px 0px 0px;
    }
}
@media screen and (max-width: 768px){
    .alert-box{
        max-width: 250px !important;
    }
    .typo{
        font-size: 12px;
    }
}